# Database Configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

# Server Port
PORT=

SECRET_KEY=
REFRESH_SECRET_KEY=

# Cors 
CORS_ORIGIN=

# App lang: 'en' or 'vn'
APP_LANG=

# access token & refresh token expire time
ACCESS_TOKEN_EXPIRE_TIME=
REFRESH_TOKEN_EXPRITE=